:root {
  --color1: #F2D399;
  --color2: #D9A282;
  --color3: #BF7154;
  --color4: #BF3636;
  --color5: #734949;
}

.timer255 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.setersContainer {
  display: flex;
  gap: 20px;
}

.Control {
  display: flex;
  gap: 13px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--color4);
  border: 2px solid var(--color1);
}

.btn {
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: var(--color1);
}

.btn:hover {
  transform: scale(1.1);
}

p {
  user-select: none;
}
