* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 900;
  font-size: 20px;
  background-color: var(--color1);
  gap: 20px;
  user-select: none;
}

h1 {
  color: var(--color5);
  font-size: 35px;
}
